In [4]:
# Import Packages
import pandas as pd

# Import Data Frame 
data = pd.read_csv("data/Monatszahlen-Verkehrsunfälle.csv")

In [5]:
#Select only important columns
features = ['MONATSZAHL', 'AUSPRAEGUNG', 'JAHR', 'MONAT', 'WERT']
#Make the data only the important columns
data = data[features]
# Rename the columns we will be working on 
data = data.rename( columns = { 
    'MONATSZAHL' : 'Category',
    'AUSPRAEGUNG': 'Accident_Type',
    'JAHR'       : 'Year',
    'MONAT'      : 'Month',
    'WERT'       : 'Value'
})
data.head()

         Category Accident_Type  Year   Month  Value
0  Alkoholunfälle     insgesamt  2021  202101    NaN
1  Alkoholunfälle     insgesamt  2021  202102    NaN
2  Alkoholunfälle     insgesamt  2021  202103    NaN
3  Alkoholunfälle     insgesamt  2021  202104    NaN
4  Alkoholunfälle     insgesamt  2021  202105    NaN